<style>
    body{
        margin-top: 20px;
    }
</style>
<h3 style="position: fixed; text-align: end;">All data provided by USGS</h3>
<h3 style="position: fixed; margin-left: 80%;"><a href="/<%= moment(currentDay).add(-1, 'days').format('YYYY-MM-DD') %>/<%= currentDay %>">Yesterday</a></h3>
<% data.features.forEach(element => { %>
    <div style="border: 1px solid gray; border-radius: 2px; margin: 20px auto; width: 50%; ">
        <h4 style="text-align: center;">Location: <%= element.properties.place %> </h4>
        <p style="padding: 10px;">Magnitud <%= element.properties.mag %></p>
        <p>Registered on <%= moment(element.properties.time).format('MMMM Do YYYY, h:mm:ss a') %></p>
        <p style="text-align: center;"><a href="<%= element.properties.url %>">View More</a></p>
    </div>
<% }) %>



